.popoverDiv {
    position: absolute;
    background: lightgray;
    clear: left;
    z-index: 999;
    border: 2px solid cadetblue;
    color: black;
    display: none;
    padding: 3px;
    margin: 3px;
}